@import '~bootstrap/scss/bootstrap.scss';
@import 'base';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 100 14px 'Roboto';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
